body{
   background-color: skyblue;
}
h1{
    font-family: 'arail';border: solid cornflowerblue;color: cornflowerblue;text-align: center;
    padding-top:10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}